In [ ]:
!pip install git+git://github.com/geopandas/geopandas.git &> /dev/null #the stuff after the & suppresses the code before it.

#need to clean up this dataset
import geopandas as gpd
geo = gpd.read_file('https://opendata.arcgis.com/datasets/ace8fa8bea514d07a3139e4657b3cd9c_0.geojson')

HTTPError: ignored

In [ ]:
import pandas as pd
import numpy as np
from collections import Counter as amt

In [ ]:
geo = geo.drop(columns=['OBJECTID', 'GEO_ID', 'FIPS_CODE'])
colnames = ['county','state','white_only_total','wot_moe','black_only_total','bot_moe',
            'amer_indian_alaskanative_only_total','aiant_moe','asian_only_total','a_moe',
            'pacisland_only_total','pit_moe','other_only_total','other_moe','two_or_more_races_total',
            'tomr_moe','not_hislat_total','nothislat_moe','hislat_total','hislat_moe','geometry']
geo.columns = colnames

In [ ]:
geo.head(2)

           county  ...                                           geometry
0  Autauga County  ...  POLYGON ((-86.41312 32.70739, -86.41305 32.690...
1  Baldwin County  ...  POLYGON ((-87.76516 31.29735, -87.76361 31.297...

[2 rows x 21 columns]

In [ ]:
geo = geo.drop(columns = ['wot_moe','bot_moe','aiant_moe','a_moe','pit_moe','other_moe',
                    'tomr_moe','nothislat_moe','hislat_moe','geometry'])
geo.tail(2)

              county   state  ...  not_hislat_total  hislat_total
3218  Kalawao County  Hawaii  ...                73             2
3219     King County   Texas  ...               190            38

[2 rows x 11 columns]

This dataframe has a column dedicated to how many people in the population are not hispanic. Summing this with the amount of hispanics yields the total population of a county. This makes it easier to construct percentages if necessary.

In [ ]:
geo['total_pop'] = geo.not_hislat_total + geo.hislat_total

In [ ]:
geo['whiteonly_pct'] = geo.white_only_total/geo.total_pop
geo['blackonly_pct'] = geo.black_only_total/geo.total_pop
geo['indianonly_pct'] = geo.amer_indian_alaskanative_only_total/geo.total_pop
geo['asianonly_pct'] = geo.asian_only_total/geo.total_pop
geo['pacislandonly_pct'] = geo.pacisland_only_total/geo.total_pop
geo['otheronly_pct'] = geo.other_only_total/geo.total_pop
geo['twoplusonly_pct'] = geo.two_or_more_races_total/geo.total_pop
geo['hislatonly_pct'] = geo.hislat_total/geo.total_pop

In [ ]:
geo.isna().sum() #no missing values thank goodness.

county                                 0
state                                  0
white_only_total                       0
black_only_total                       0
amer_indian_alaskanative_only_total    0
asian_only_total                       0
pacisland_only_total                   0
other_only_total                       0
two_or_more_races_total                0
not_hislat_total                       0
hislat_total                           0
total_pop                              0
whiteonly_pct                          0
blackonly_pct                          0
indianonly_pct                         0
asianonly_pct                          0
pacislandonly_pct                      0
otheronly_pct                          0
twoplusonly_pct                        0
hislatonly_pct                         0
dtype: int64

In [ ]:
def countyStringClean(data):
  #this gets rid of unnecessary strings in the data set including " City" or " County"
  strings = data.county.tolist()
  badwords = [' City', ' County', ' Census Area', ' Municipio']

  correct = []
  idx = []

  for bad in badwords:
    for index, name in enumerate(strings):
      if bad in name:
        correct.append(name.replace(bad, ''))
        idx.append(index)

  for idx_idx, idx_val in enumerate(idx):
    strings[idx_val] = correct[idx_idx]
  
  data.county = strings
  return data

In [ ]:
klen = countyStringClean(geo)

In [ ]:
#remove 'states' not present in the orig df
klen = klen[klen["state"].str.contains("Puerto Rico") == False]
klen = klen[klen["state"].str.contains("District of Columbia") == False]

In [ ]:
ogdf = pd.read_csv('/content/olsdf_wdum.csv')
ogdf.head(2)

   pos     county       state  pc_income  ...  NE_dum  MW_dum  W_dum  S_dum
0    0  Arlington    Virginia    62018.0  ...       0       0      0      1
1    1      Marin  California    56791.0  ...       0       0      1      0

[2 rows x 13 columns]

In [ ]:
klen.head(2)

    county    state  ...  twoplusonly_pct  hislatonly_pct
0  Autauga  Alabama  ...         0.018659        0.027681
1  Baldwin  Alabama  ...         0.017164        0.044943

[2 rows x 20 columns]

In [ ]:
print('the shape of the original dataframe is,',ogdf.shape,'while the shape of the dataframe i want to append is,',klen.shape)

the shape of the original dataframe is, (3042, 13) while the shape of the dataframe i want to append is, (3141, 20)

In [ ]:
klen.index = range(0,len(klen.index))

In [ ]:
mergeddf = ogdf.merge(klen, on = ['state','county'], how = 'left')

In [ ]:
mergeddf[mergeddf['whiteonly_pct'].isna()]

       pos        county  ... twoplusonly_pct  hislatonly_pct
43      43    James City  ...             NaN             NaN
86      86     Anchorage  ...             NaN             NaN
284    284   St. Tammany  ...             NaN             NaN
331    331       Cameron  ...             NaN             NaN
375    375     Lafayette  ...             NaN             NaN
...    ...           ...  ...             ...             ...
2855  2855          Winn  ...             NaN             NaN
2865  2865     Morehouse  ...             NaN             NaN
2889  2889     Concordia  ...             NaN             NaN
3011  3011       Madison  ...             NaN             NaN
3033  3033  East Carroll  ...             NaN             NaN

[64 rows x 31 columns]

In [ ]:
mergeddf = mergeddf.dropna()

In [ ]:
mergeddf.shape

(2978, 31)

In [ ]:
mergeddf.to_csv(r'/content/covid_exp.csv', index = False)

In [ ]:
df = pd.read_csv('/content/covid_exp.csv')

In [ ]:
df[df['state'] == 'California'].shape

(58, 31)

stuff after this section adds the population density and amount of people per household. THANKS DR. SHILLING

In [ ]:
geo1 = gpd.read_file('https://opendata.arcgis.com/datasets/21843f238cbb46b08615fc53e19e0daf_1.geojson')
geo1.head(3)

   FID  COUNTYNS  ... SHAPE_Area                                           geometry
0    1  00161526  ...   0.150256  MULTIPOLYGON (((-86.41312 32.70739, -86.41305 ...
1    2  00161527  ...   0.409904  MULTIPOLYGON (((-87.76516 31.29735, -87.76361 ...
2    3  00161528  ...   0.223270  MULTIPOLYGON (((-85.05603 32.06306, -85.05593 ...

[3 rows x 24 columns]

In [ ]:
geo1 = geo1.drop(columns = ['FID', 'COUNTYNS', 'GEOID', 'ALAND', 'AWATER'])
geo1.head(3)

             NAME  ...                                           geometry
0  Autauga County  ...  MULTIPOLYGON (((-86.41312 32.70739, -86.41305 ...
1  Baldwin County  ...  MULTIPOLYGON (((-87.76516 31.29735, -87.76361 ...
2  Barbour County  ...  MULTIPOLYGON (((-85.05603 32.06306, -85.05593 ...

[3 rows x 19 columns]

In [ ]:
colnames = ['county','state','avg_house','avg_hosue_moe','avg_oou','avg_oou_moe',
            'avg_house_rent', 'ahr_moe', 'total_pop', 'tot_pop_moe', 'pop_density', 'user', 'date',
            'edit_user', 'edit_date', 'shape_area', 'shape_len', 'pop_dens_moe', 'poop']
geo1.columns = colnames

In [ ]:
geo1.head(2)

           county  ...                                               poop
0  Autauga County  ...  MULTIPOLYGON (((-86.41312 32.70739, -86.41305 ...
1  Baldwin County  ...  MULTIPOLYGON (((-87.76516 31.29735, -87.76361 ...

[2 rows x 19 columns]

In [ ]:
newdf = geo1[['county','state','avg_house','pop_density']]
newdf.head(2)

           county    state  avg_house  pop_density
0  Autauga County  Alabama       2.59    35.853419
1  Baldwin County  Alabama       2.61    50.541504

In [ ]:
klendf = countyStringClean(newdf)
klendf.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

    county    state  avg_house  pop_density
0  Autauga  Alabama       2.59    35.853419
1  Baldwin  Alabama       2.61    50.541504

In [ ]:
klendf.shape

(3220, 4)

In [ ]:
df = pd.read_csv('/content/covid_exp.csv')
df.head(2)

   pos     county       state  ...  otheronly_pct  twoplusonly_pct  hislatonly_pct
0    0  Arlington    Virginia  ...       0.051048         0.036505        0.156081
1    1      Marin  California  ...       0.085526         0.048641        0.158801

[2 rows x 31 columns]

In [ ]:
df_merge = df.merge(klendf, on = ['state','county'], how = 'left')
df_merge.head(5)

   pos      county       state  ...  hislatonly_pct  avg_house  pop_density
0    0   Arlington    Virginia  ...        0.156081       2.18  3442.635855
1    1       Marin  California  ...        0.158801       2.40   193.100506
2    2      Pitkin    Colorado  ...        0.099224       2.53     7.123410
3    3  Los Alamos  New Mexico  ...        0.176291       2.41    64.901861
4    4     Fairfax    Virginia  ...        0.162262       2.88  1129.205805

[5 rows x 33 columns]

In [ ]:
df_merge.to_csv(r'/content/final_covid_pls.csv', index = False)